BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

ColumnLimit: 120
BreakBeforeBraces: Allman
IndentCaseLabels: false
PointerAlignment: Right
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements

AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BreakBeforeBinaryOperators: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: false
SortIncludes: Never

